<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Name - Node Store</title>
    <style>
        /* Reset some default styles */
        body, h1, h2, p {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        /* Header styles */
        .top-bar {
            background-color: #F7A072;
            color: #fff;
            padding: 5px 0;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .top-bar a{
            padding: 5px;
        }

        .store-name {
            font-size: 2rem;
        }

        .product-details {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }



        .product-window {
            background-color: white;
            height: 100vh;
            width: 100vw;
            text-align: center;
            padding-top: 10%;
        }

        .product-name {
            font-size: 2.5rem;
            color: #333;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .product-price {
            font-size: 1.75rem;
            font-weight: bold;
            color: #007bff;
            margin-bottom: 20px;
        }

        .product-description {
            font-size: 1.25rem;
            color: #444;
            margin-bottom: 20px;
            max-width: 50%;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        img {
            width: 100%;
            height: auto;
            max-height: 300px; 
            object-fit: contain;
            border-radius: 5px;
        }

        .delete-btn {
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1.2rem;
            cursor: pointer;
            text-decoration: none;
            margin-right: 20px;
        }

        .edit-btn {
            background-color: #00A7E1;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1.2rem;
            cursor: pointer;
            text-decoration: none;
            margin-left: 20px;
        }

        .delete-btn:hover{
            transform: scale(1.05);
        }

        .edit-btn:hover{
            transform: scale(1.05);
        }

    </style>
</head>
<body>
    <header>
        <div class="top-bar">
            <a href="/"><h2>Node Store</h2></a>
        </div>
    </header>
    <main class="product-details">
        <div class="product-window">
            <img src= <%- product[0].image %> alt="Product Name">
            <h2 class="product-name"><%- product[0].name %></h2>
            <p class="product-price">Rs <%- product[0].price %></p>
            <p class="product-description"><%- product[0].description %></p>
            <div class="buttons">
                <button class="delete-btn"><a href="/delete/<%- product[0].id %>">Delete</a></button>
                <button class="edit-btn"><a href="/edit/<%- product[0].id %>">Edit</a></button>
            </div>
        </div>
    </main>
</body>
</html>
